.div_container{
    display:flex;
    justify-content: space-around;
    margin:18px 0px;
    border-bottom: 1px solid gray;
}
.mainContainer{
    max-width: 550px;
    margin:0px auto;
}
.userInfo{
    display:flex;
    justify-content: space-between;
    width:108%;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.item{
    width:30%;
}